huggingface-hub==0.31.4
matplotlib==3.9.4
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.3
pillow==11.2.1
psutil==7.0.0
scikit-learn==1.6.1
scipy==1.13.1
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.49.0
